<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
	<div class="content">
		{{ partial "head.html" . }}

		<div class="site-description">
			{{- if isset .Site.Params "subtitle" -}}
			<p>{{ .Site.Params.Subtitle | markdownify }}</p>
			{{- end -}}
		</div>

		<main class="list">
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }} <a href="{{ .RelPermalink }}" class="entry-link">
				<article class="list-item">
					<h4 class="title" style="margin-top: 0; margin-bottom: 5px;">{{.Title}}</h4>
					<time style="font-size: .8rem">{{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span
							class="draft-label">DRAFT</span> {{
						end
						}}</time>
				</article>
			</a>
			{{ end }}
			{{ template "partials/paginator.html" . }}
		</main>
		{{ partial "footer.html" . }}
	</div>
</body>

</html>