<footer>
  <div style="display:flex">
    {{- range $index, $key := .Site.Params.Social -}}
    <a class="soc" href="{{ $key.url }}" rel="me" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a>
    <a class="border"></a>
    {{- end -}}
  </div>
  <div class="footer-info">
    {{ dateFormat "2006" now }} {{ with .Site.Copyright }} {{ . }} | {{ end }}
  </div>
</footer>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QW69RMV678"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'G-QW69RMV678');
</script>


{{- if (isset .Site.Params "social") -}}
<script>
  feather.replace()
</script>
{{- end -}}

<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript">
</script>
<script type="application/javascript"> littlefoot.default() </script>